

h1 {
    color: #2d537c;
}
.dash-landing-container {
    display: flex;
    flex-direction: column;
    
}

.favorite-notification-container {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.favorite-notification-container div{
    margin: 5px;
    margin-bottom: 10px;
    width: 400px;
    height: 200px;
    border: 3px solid #a79e29;
    background-color: #f3e73d;
}

.news-container {
    margin: 0 auto;
    width: 820px;
    height: 300px;
    border: 3px solid #2e547c;
    background-color: #559ce8;
}