.dash-container {
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 0 auto;

}

.banner-container {
    display: flex;
    flex-direction: row;
    border: 3px solid black;
}

.search {
    /* border: 3px solid black; */
    width: 20%;
    margin-left: 80px;    
}

.bannerimg{
    margin: auto;
    width: 60%;
}

.sidebar {
    margin-top: 10px;
    padding-top: 20px;

}

.center-content {
    display: flex;
    flex-direction: row;
}

.component-container {
    /* border: 1px solid black; */
    width: 100%;
    margin-left: 20px
}


